<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TheDogHouse.Properties.Settings.DOGHOUSEConnectionString"
            connectionString="Data Source=LAPTOP-4VQ680AO\UADEO;Initial Catalog=DOGHOUSE;User ID=sa;Password=JramL0824;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>